body{
    position: relative;
}
*{
    padding: 0px;
    margin: 0px;
}
.app{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* --- HEADER BEGINS -- */
.nav{
    background-color: black;
    color: wheat;
    height: 8vh;
}
.nav-name p{
    font-size: 19px;
    margin-top: 0px;
    margin-left: 10px;
}
.nav-name a{
    color: white;
    text-decoration: none;
}
.nav-bar{
    display: flex;
    margin-left: 65%;
    margin-top: -13px;
}
.nav-bar ul{
    padding: 0;
    list-style: none;
    float: right;
}
.nav-bar li{
    float: left;
    padding: 5px;
    background-color: gold;
    margin-left: 5px;
    border-radius: 5px;
}
.nav-bar li a{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 10px;
}
.app-content{
    margin-top: -12px;
}
.app-section{
    width: 30%;
    margin-left: 0px;
    position: absolute;
    top: 140px;
    left: 34%;
}
.img img{
    width: 100%;
    height: 15rem;
}
.head{
    margin-top: -150px;
    text-align: center;
}
.head h1{
    font-size: 1.5rem;
    color: gold;
}
.head p{
    color: white;
    font-size: 0.7rem;
}
/* --- HEADER ENDS --- */

/* ---- POST STYLE ----*/
.body-head{
    position: absolute;
    top: 300px;
    width: 80%;
    left: 10%;
}
.body-nav{
    margin-top: 100px;
    background-color: cornsilk;
    padding: 25px 35px;
}
.body-nav h3{
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.body-head h1{
    font-size: 19px;
    border-bottom: 2px solid black;
    width: 110px;
    margin-bottom: 8px;
}
.get-post h2{
    color: blue;
    font-size: 1rem;
    margin-bottom: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.get-post h4{
    margin-bottom: 10px;
    background-color: rgb(243, 222, 106);
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 6px;
    width: 40%;
    font-size: 0.6rem;
    font-weight: bold;
}
.get-post p{
    font-size: 0.6rem;
}
.get-post a{
    margin-top: 18px;
}
.get-post h6{
    margin-bottom: 5px;
}


/* ---- POST STYLE ENDS ----*/
/* ----- PAGE STYLE STRAT ----- */
.get-page{
    background-color: gainsboro;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px;
    border-radius: 5px;
    margin-top: 480px;
    width: 90%;
    margin-left: 5%;
    padding: 25px;
}
.get-page h2{
    color: goldenrod;
    font-weight: bolder;
    margin-bottom: 10px;
}
/* ----- PAGE STYLE ENDS ----- */

/* ----- handles ------ */
.handles{
    display: inline-flex;
    padding-top: 15px;
    padding-left: 35%;
}
.handles ul{
    margin-right: 20px;
    font-size: 25px;
}
/* ----- handles  Ends------ */

/* CAREGORIES OF INCIDENT -----*/
.get-group{
    background-color: rgb(223, 221, 221);
    border-radius: 5px;
}
.get-img{
   margin-top: 15px; 
   width: 60%;
   margin-left: 30%;
   padding-bottom: 20px;
}
.get-img h3{
    border-bottom: 1px solid black;
    width: 180px;
    opacity: 0.7;
    padding: 15px 0px 5px 0px;
}
.get-img p{
    font-size: 23px;
    padding: 10px;
    color: blue;
    cursor: pointer;
    width: 160px;
}
.get-img p:hover{
   
    border-bottom: 2px solid rgb(9, 9, 158);
    color: rgb(9, 9, 158);
}
.footer{
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
}
/* ----- FORM STYLE BEGIN -----*/
.form{
    margin-top: 20px;
    padding-bottom: 30px;
}
form{
    margin-top: 10px;
}
.form-group{
    width: 270px;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10px;
}
.user{
    margin-bottom: 15px;
}
.user input{
    padding: 10px;
    width: 200px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}
.btn{
    width: 224px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    display: block;
}
/* ----- FORM STYLE ENDS -----*/
.date-post{
    display: none;
}
/* ------ SIDE-NAV ------*/
.side-nav{
    margin-top: 45rem;
    background-color: lightgray;
    box-sizing: content-box;
    box-shadow: 2px 2px 2px 2px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.side-nav h2{
    background-color: black;
    color: white;
    text-align: center;
}
.side-nav img{
    width: 30%;
}
.side-bar-group{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.side-bar-group h4{
    background-color: gold;
    text-align: center;
    padding: 7px;
    opacity: 0.7;
}
.side-bar-group p{
    text-align: justify;
    padding: 10px;
}

/* width screen start there */
@media screen and (min-width: 800px){
    /* --- HEADER STYLE --- */
    .img img{
        height: 18rem;
    }
    .head h1{
        font-size: 1.8rem;
    }
    .head p{
        color: white;
        font-size: 1rem;
    }
    .nav-bar li a{
        font-size: 12px;
    }
    /* --- HEADER ENDS --- */

    /* ---- POST STYLE ----*/
    .body-head{
        top: 350px;
        width: 50%;
    }
    .get-post h2{
        font-size: 1.5rem;
    }
    .get-post p{
        font-size: 1rem;
        text-align: justify;
    }
    .get-post a{
        font-size: 19px;
        color: greenyellow;
    }
    /* ---- POST STYLE ENDS ----*/

    /* ---- PAGE STYLE ----*/
    .get-page{
        width: 36%;
        float: right;
        margin-right: 15px;
        margin-top: 120px;
        padding: 17px 25px;

    }
    .body-head h1{
        font-size: 22px;
    }
    
    .date-post{
        display: block;
        float: right;
        margin-top: -180px;
        margin-right: 100px;
    }
    /* ----- handles ------ */
    .handles{
        padding-top: 35px;
        padding-left: 71%;
    }
    .handles ul{
        margin-right: 20px;
        font-size: 35px;
    }
/* ----- handles  Ends------ */
/* ------ categories -------*/
    .get-group{
        width: 38%;
        float: right;
        margin-top: 20px;
    }
    .footer{
        margin-top: 358px;
        text-align: center;
        font-size: 23px;
    }
    .body-nav{
        width: 100%;
        margin-top: 90px;
        background-color: cornsilk;
        padding: 25px 35px;
    }
    .body-nav h3{
        font-size: 25px;
        border: 1px solid black;
        text-align: center;
        padding: 10px 0px;
        margin-bottom: 10px;
    }
    .side-nav{
        margin-top: -14.5rem;
        width: 50%;
        float: right;
        margin-right: 3%;
    }
    .side-bar-nav{
        margin-top: 50px;
        width: 500px;
        font-size: 12px;
        float: right;
        padding: 10px;
    }
    .side-bar-nav h3{
        border: none;
        margin-left: -20px;
        background-color: white;
        width: auto;
        border-radius: 5px;
    }
    .side-bar-nav p{
        font-size: 15px;
        margin-left: -25px;
        width: auto;
    }
}


@media screen and (min-width: 1150px){
    /* --- HEADER ---  */
    .img img{
        height: 20rem;
    }
    .app-section{
        width: 30%;
        top: 220px;
    }
    .head{
        margin-top: -200px;
    }
    .head h1{
        font-size: 2.5rem;
    }
    .head p{
        font-size: 1.2rem;
    }
    /* --- HEADER ENDS --- */

     /* ---- POST STYLE ----*/
     .body-head{
        top: 390px;
        width: 40%;
    }
    .body-head h1{
        font-size: 28px;
        width: 170px;
    }
    .get-post h4{
        font-size: 0.8rem;
        width: 40%;
    }
    .body-head p{
        font-size: 1.5rem;
        text-align: justify;
    }
    /* ---- POST STYLE ENDS ----*/

         /* ---- PAGE STYLE ENDS ----*/
    .get-page{
        margin-top: 160px;
    }

    /* ----- handles ------ */
    .handles{
        padding-top: 35px;
        padding-left: 71%;
    }
    .handles ul{
        margin-right: 20px;
        font-size: 50px;
    }
/* ----- handles  Ends------ */
    .body-nav{
        position: absolute;
        right: -115%;
        top: -370px;
        width: 100%;
    }
    .form label{
        font-size: 25px;
    }
}